.CircuitContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	padding-block: 10px;
	margin-top: 20px;
	overflow: hidden;
	overflow-x: scroll;
	font-size: 1rem;
}


.Locate {
	color: blue;
}

.CircuitMain{
	margin-bottom: 20px;
}

h2{
	padding-top: 10px;
}