.CircuitContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-block: 10px;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	overflow: hidden;
	overflow-x: scroll;
	font-size: 1rem;
}


.Locate {
	grid-column: span 3;
	color: blue;
}

